<footer class="footer pt-5 pb-4 bg-dark text-dark">
    <div class="container">
       <div class="row justify-content-center">
          <!-- Company Information Section -->
          <div class="col-xl-3 mb-3 mb-xl-0">
             <img src="/logo/logo-title.png" height="30" class="mb-3" alt="logo">
             <p class="masgris text-start"  style="font-weight: 400; ">Generate fully customized QR Codes, with color &amp; shape, logo, and track how many people scan your QR Codes, from where, and on what date.</p>
             <div class="dropdown mb-4 mb-lg-0">
                <span class="h5 mb-2" style="display: block;">Follow Us</span>
                <a href="https://www.facebook.com/" target="_blank" class="icon icon-lg text-gray mr-3"><span class="fab fa-facebook" style="font-size: 25px;"></span></a>
                <a href="https://twitter.com/" target="_blank" class="icon icon-lg text-gray mr-3"><span class="fab fa-twitter" style="font-size: 25px;"></span></a>
                <a href="https://www.linkedin.com/company/" target="_blank" class="icon icon-lg text-gray mr-3"><span class="fab fa-linkedin" style="font-size: 25px;"></span></a>
             </div>
          </div>
 
          <!-- Product Section -->
          <div class="col-6 col-xl-2 mb-5 mb-xl-0" style="margin-left: 60px;">
             <span class="h5">Product</span>
             <ul class="footer-links mt-2">
                <li class="footerli"><a href="/" class="footera masgris">Features</a></li>
                <li class="footerli"><a href="/pricing" class="footera masgris">Pricing</a></li>
             </ul>
          </div>
 
          <!-- Use Cases Section
          <div class="col-6 col-xl-3 mb-5 mb-xl-0">
             <span class="h5">Use Cases</span>
             <ul class="footer-links mt-2">
                <li class="footerli"><a href="/qr-codes-for/weddings" class="footera masgris">Weddings</a></li>
             </ul>
          </div> -->
 
          <!-- Help Section -->
          <div class="col-6 col-xl-2 mb-5 mb-xl-0">
             <span class="h5">Help</span>
             <ul class="footer-links mt-2">
                <li class="footerli"><a href="/faq" class="footera masgris">FAQ</a></li>
                <li class="footerli"><a href="/contact" class="footera masgris">Contact Us</a></li>
             </ul>
          </div>
 
          <!-- Company Section -->
          <div class="col-6 col-xl-2 mb-5 mb-xl-0">
             <span class="h5">Company</span>
             <ul class="footer-links mt-2">
                <li class="footerli"><a href="/about_us" class="footera masgris">About Us</a></li>
                <li class="footerli"><a href="/tos" class="footera masgris">Terms of Service</a></li>
                <li class="footerli"><a href="/privacy" class="footera masgris">Privacy Policy</a></li>
                <li class="footerli"><a href="/disclaimer" class="footera masgris">Disclaimer</a></li>
                <li class="footerli"><a href="/refund-policy" class="footera masgris">Refund Policy</a></li>
             </ul>
          </div>
       </div>
 
       <!-- Divider -->
       <hr class="hr-style">
 
       <!-- Footer Bottom Section -->
       <div class="row">
          <div class="col-12 mb-md-0 row justify-content-center">
             <div class="col-md-10" role="contentinfo">
                <p class="small mb-0 masgris centrarenmobile" style="top: 13px;position: relative;">Copyright © <span class="current-year">2024</span>. All rights reserved.</p>
             </div>
          </div>
       </div>
    </div>
 </footer>
 