<section class="section" style="padding-bottom: 0px; background-color: #F5F5F5;">
    <div class="container">
        <h2 class="h2 mt-2" style="text-align: center;">Trusted by your favorite companies</h2>
    </div> 
        <div id="infinite" class="highway-slider">
            <div class="highway-barrier" style="max-width: 1520px;">
                <ul class="highway-lane p-0">
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/ford.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/samsung.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/mastercard.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/amazon.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/spotify.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/disney.png" style="max-width: 100px;">
                    </li>
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/lamborghini.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/tesla.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/samsung.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/porsche.png" style="max-width: 100px;">
                    </li> 
                    <li class="highway-car">
                        <img src="https://qr.io/trusted-by-logos/paypal.png" style="max-width: 100px;">
                    </li>
                </ul>
            </div>
        </div>
</section>